/* Variables */

$main-color: #c78030;

$accent-color: #1FBAD6;

/* General */
body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.container {
	width: 1200px;
	margin: 0 auto;
}


/*===Blocks===*/

/*Header*/


/*===Main===*/
.timer {
	margin-top: 150px;
	text-align: center;
}

.timer-title {
	font-size: 36px;
	color: $main-color;
	span {
		font-weight: bold;
		font-size: 32px;
	}
}
.timer-action {
	font-size: 36px;
	font-weight: 700;
	color: $main-color;
	margin-top: 40px;
	text-transform: uppercase;
}
.timer-numbers {
	margin-top: 40px;
	font-size: 90px;
	color: $main-color;
}
.timer-numbers:after {
	content: '';
	display: block;
	width: 20%;
	height: 1px;
	background-color: $main-color;
	margin: 0 auto;
	margin-top: 4px;
}
/*===Footer===*/

.footer {
	a {
		font-size: 10px;
		text-decoration: none;
	}
	span {
		font-size: 10px;
	}
}