/* Variables/Mixins */

$main-color: #c78030;

$accent-color: #1FBAD6;

$light: #fff;

@mixin title {
	font-size: 36px;
	color: $main-color;
}

@mixin border {
	border: 1px solid $main-color;
}


/* General */
body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-style: normal;
	background: url('../img/main_bg.jpg') center (center / cover) no-repeat;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 48px;
	margin: 30px 0;
	color: $main-color;
	text-align: center;
	font-family: 'Source Code Pro', monospace;
}


/*===Blocks===*/

/*Header*/

.header {
	&__item {
		@include border;
		border: 2px solid $main-color;
		padding: 20px;
		margin-top: 30px;
		margin-right: 10px;
		min-height: 400px;
		min-width: 48%;
		&-title {
			font-weight: 200;
			font-size: 24px;
			color: $main-color;
			margin: 20px 0;
		}
		&-photo img {
			width: 100%;
			min-height: 180px;
			object-fit: cover;
		}
		&-table > .cell:last-child {
			height: 45%;
		}
		.col {
			color: $light;
		}
		.date {
			font-weight: bold;
			color: $accent-color;
		}
		.cell {
			height: 25%;
			border-bottom: 2px dotted $main-color;
		}
	}
}

/*===Main===*/
.timer {
	margin: 100px 0;
	text-align: center;
	&-block {
		width: 75%;
		padding: 5px;
		padding-bottom: 40px;
		background-color: #e3e9f0;
		border: 3px solid $accent-color;
	}
	&-title {
		@include title;
		span {
			font-weight: bold;
			font-size: 32px;
			color: $accent-color;
		}
	}
	&-action {
		font-size: 36px;
		font-weight: 700;
		color: $main-color;
		margin-top: 40px;
		text-transform: uppercase;
	}
	&-numbers {
		margin-top: 40px;
		font-family: 'Source Code Pro', monospace;
		font-size: 90px;
		color: $main-color;
		// &:after {
		// 	content: '';
		// 	display: block;
		// 	width: 60%;
		// 	height: 1px;
		// 	background-color: $main-color;
		// 	margin: 0 auto;
		// 	margin-top: 4px;
		// }
	}
	&-labels {
		font-size: 20px;
		.invisible {
			color: #e3e9f0;
		}
	}
}



/*===Footer===*/

.footer {
	background-color: #e3e9f0;
	height: 50px;
	padding: 20px;
	&__link {
		font-size: 10px;
		text-decoration: none;
		color: $accent-color;
		font-weight: bold;
	}
	p {
		font-size: 11px;
		text-align: center;
		color: $accent-color;
	}
}